<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="images/logo.png" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/regles" class="right"><h3>Règles du jeu</h3></a>
  <div>

    <h1>TAP'N'DRINK</h1>
    <p>AYEZ LA BONNE INTUITION</p>
    <div id="overlay"></div>
    <div class="container">

      <div class="row">
        <%for(var i=0; i<myArray.length; i++) {%>
          <div class="col-4" id="case" onclick="changeColor(this, '#61bd6d')" data-value="<%=myArray[i].value %>">
            <%=i+1%>
          </div>
          <%}%>
      </div>

    </div>
    <h2 id="resultat"></h2>
    <a href="/"><button id="button" class="col-md-4 offset-md-4 btn btn-light btn-lg rounded-0" onclick="luxe()" style="display:none;">REJOUER</button></a>
    <!-- <button id="button_2"class="button_2 btn btn-primary" style="display:none;">FIESTA</button>
    <button id="button_3"class="button_3 btn btn-primary" style="display:none;">TF1</button> -->

  </div>


  <audio id="non" src="sound/lose.mp3"></audio>
  <audio id="oui" src="sound/win.mp3"></audio>
  <audio id="playAgain" src="sound/luxe.mp3"></audio>
  <!-- <audio id="mondotek" src="sound/mondotek.mp3"></audio>
  <audio id="tf1" src="sound/tf1.mp3"></audio> -->

  <script>
    var resultats = ["Tu distribues 4 gorgées", "Tu distribues 3 gorgées", "Tu distribues 2 gorgées", "Tu distribues 1 gorgée", "Tu bois 1 gorgée", "Tu bois 2 gorgées", "Tu bois 3 gorgées", "Tu bois 4 gorgées", "Tu bois 5 gorgées"];
    var i = 0;
    var bloque = false;
    var temp = false;
    var non = document.getElementById("non");
    var oui = document.getElementById("oui");
    var playAgain = document.getElementById("playAgain");


    //WINNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
// document.getElementById('button_3').addEventListener('click', function() {
//       var tf1 = document.getElementById("tf1");
//       tf1.play();
//     });


    // var links = document.getElementsByClassName('button_2'),
    //   linksLen = links.length;
    // for (var i = 0; i < linksLen; i++) {
    //
    //   links[i].addEventListener('click', function(e) {
    //     displayImg(e.currentTarget);
    //       e.preventDefault();
    //   });
    //
    // }

    // function displayImg(link) {
    //   var img = new Image(),
    //     overlay = document.getElementById('overlay');
    //
    //   img.addEventListener('load', function() {
    //     overlay.innerHTML = '';
    //     overlay.appendChild(img);
    //   });
    //
    //   img.src = link.href;
    //   overlay.style.display = 'block';
    //   overlay.innerHTML = '<img src="images/dab.gif">';
    //   var mondotek = document.getElementById("mondotek");
    //   mondotek.play();
    //
    // }

    // document.getElementById('overlay').addEventListener('click', function(e) {
    //   e.currentTarget.style.display = 'none';
    // });
    //NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN

    function changeColor(div, colors, resultat) {

      if (bloque) {

      } else {
        if (div.dataset.value == "true") {
          div.style.color = '#efefef';
          oui.play();
          bloque = true;
          //check is true, execute this code
          div.style.backgroundColor = colors;

          var newH2 = document.createElement("h2");
          var newBtn = document.createElement("button");
          document.getElementById("button").removeAttribute("style");
          // document.getElementById("button_2").removeAttribute("style");
          // document.getElementById("button_3").removeAttribute("style");
          // et lui donne un peu de contenu
          var newContentH2 = document.createTextNode(resultats[i]);

          // ajoute le noeud texte au nouveau div créé
          newH2.appendChild(newContentH2);


          // ajoute le nouvel élément créé et son contenu dans le DOM
          var currentDiv = document.getElementById("container");
          document.body.insertBefore(newH2, currentDiv);


        } else {
          div.style.backgroundColor = '#e14938';
          div.style.color = '#efefef';
          i++;
          non.play();
          div.disable;

        }
      }
    }
  </script>
  <script type="text/javascript" src="javascripts/script.js"></script>
</body>

</html>
