<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <h1>TAP'N'DRINK</h1>
    <div class="container">

      <div class="row">
        <%for(var i=0; i<myArray.length; i++) {%>
          <div class="col-4" onclick="changeColor(this, '#99C262')" data-value="<%=myArray[i].value %>">
            <%=i+1%>
          </div>
          <%}%>
      </div>
        <div id="div_button">
        <button id="button" class="btn btn-primary" style="display:none;">Rejouer</button>
      </div>
    </div>
  </div>
  <script>
    function changeColor(div, colors) {
      if (div.dataset.value == "true") {

        div.style.backgroundColor = colors;
        document.getElementById("button").removeAttribute("style");
        var newDiv = document.createElement("div");
        var newContent = document.createTextNode("VICTORYYYYY !!!");
        newDiv.appendChild(newContent);

        var currentDiv = document.getElementById("div_button");
        document.body.insertBefore(newDiv, currentDiv);


      } else {
        div.style.backgroundColor = "red";

      }
    }
  </script>
  <script type="text/javascript" src="javascripts/script.js"></script>
</body>

</html>
