body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #475577;
}

.col-4 {

  height: 220px;
  background-color: #e2e2e2;
}

.row {
  text-align: center;
  line-height:220px;
  font-size: 100px;
}

#case {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 100px;
  color: #efefef;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  text-align: center;
  font-size: 60px;
  margin: 80px;
  color: #efefef;
  font-family: 'Kaushan Script', cursive;
}

h3 {
  text-align: right;
  font-size: 50px;
  margin-bottom: 100px;
  margin-top: 10px;
  color: #efefef;
  font-family: 'Kaushan Script', cursive;
}

h4 {
  text-align: justify;
  font-size: 50px;
  margin-top: 200px;
  color: #efefef;
  font-family: 'Kaushan Script', cursive;
  line-height:100px;
}

p {
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
  margin-top: 0px;
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
}

a {
  color : #212529;
}


#container {
  text-align: center;
  z-index: 1;
}

img{
  width: 100%;
  height: : 100%;
  z-index: 2;
}

#overlay {
    display : none;
    z-index: 10000;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

.btn-sample {
  color: #475577;
  background-color: #FCFCFC;
  border-color: #FFFFFF;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #475577;
  background-color: #6F00FF;
  border-color: #FFFFFF;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #FCFCFC;
  border-color: #FFFFFF;
}

.btn-sample .badge { 
  color: #FCFCFC;
  background-color: #475577;
}
