body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #475577;
}

.col-4 {

  height: 220px;
  background-color: #e2e2e2;
}

.row {
  text-align: center;
  line-height:220px;
  font-size: 100px;
}

#case {
  font-family: 'Open Sans', sans-serif;
  border: 4px solid;
  border-color: #475577;
  color: #475577;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 100px;
  color: #efefef;
  font-family: 'Kaushan Script', cursive;
}

.btn-light{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 50px;
  background-color: #e2e2e2;
  color: #475577;
  border: 0px;
}


h2 {
  text-align: center;
  font-size: 60px;
  margin: 80px;
  color: #efefef;
  font-family: 'Kaushan Script', cursive;
}

h3 {
  text-align: right;
  font-size: 50px;
  margin-bottom: 80px;
  margin-top: 10px;
  color: #efefef;
  font-family: 'Kaushan Script', cursive;
}

h4 {
  text-align: justify;
  font-size: 50px;
  margin-top: 200px;
  color: #efefef;
  font-family: 'Kaushan Script', cursive;
  line-height:100px;
}

p {
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
  margin-top: 0px;
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
}

a {
  color : #212529;
}


#container {
  text-align: center;
  z-index: 1;
}

img{
  width: 100%;
  height: : 100%;
  z-index: 2;
}
